<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.assignmentand1x">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Dog with corona"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AssignmentAND1X"
        tools:node="replace">
        <activity android:name=".views.EditOfferActivity"
            android:parentActivityName=".views.OfferActivity"></activity>
        <activity
            android:name=".views.AddNewOffer"
            android:parentActivityName=".views.MainPageActivity" />
        <activity android:name=".views.SplashActivity" />
        <activity android:name=".views.MainPageActivity" />
        <activity
            android:name=".views.OfferActivity"
            android:parentActivityName=".views.MainPageActivity" />
        <activity
            android:name=".views.SignUpActivity"
            android:parentActivityName=".views.LoginActivity"
            android:theme="@style/Theme.AssignmentAND1X.NoActionBar" />
        <activity android:name=".views.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>