<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assignmentand1x">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Dog with corona"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AssignmentAND1X">
        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainPageActivity"
            android:label="@string/title_activity_main_page"
            android:theme="@style/Theme.AssignmentAND1X.NoActionBar">

        </activity>
        <activity android:name=".offer.OfferActivity" />
        <activity android:name=".signup.SignUpActivity"
            android:parentActivityName=".login.LoginActivity"
        />
        <activity android:name=".login.LoginActivity" />
    </application>

</manifest>